<div class="container">
<div class="header">
    <div class="text">Tasks</div>
    <a class="clear-button"  (click)="clearTasks()">Clear&nbsp;<img src="assets/reload.png" alt="Icone" ></a>
</div>
<div class="input">
    <input class="task-input"type="text" placeholder="New Task..."  [(ngModel)]="newTask">
    <button (click)="addTask(newTask)">add task</button>
</div>
<div class="table-section">
    <p *ngIf="tasks.length ==  0">No task</p>
    <table>
      <tbody>
      <tr *ngFor="let task of tasks" >
        <td >
          <input type="checkbox" [(ngModel)]="task.done">
        </td>
        <td contenteditable="true" class="task-text" [ngClass]="{'task-done': task.done}" >{{ task.text }}</td>
        <div class="icon">
        <td>
            <a href="#" class="image"(click)="modifyTask(task)">
                <img src="assets/icon-edit.png" alt="Icone" >
              </a>
        </td>
        <td>
            <a href="#" class="image" (click)="deleteTask(task)">
                <img src="assets/icon-delete.png" alt="Icone" >
              </a>
        </td>
    </div>
      </tr>
      </tbody>
    </table>
  </div>
</div>