/* You can add global styles to this file, and also import other style files */
body{
    background-color: #f8f8f8;
    display: flex;
    justify-content: center; /* Center the container horizontally */
    align-items: center; /* Center the container vertically */
    height: 100vh; /* Make the container wrapper fill the entire viewport height */
}